<div class="fieldset">
	<h2>Website</h2>
	<fieldset>
<%= error_messages_for 'website' %>

	<p><label for="website_name">Name</label>
    <%= input("website", "name") %></p><br>

<p>
<%= submit_tag "Submit" %>
</p>

</fieldset>
</div>