<p>
<label for="website_name">Name</label>
<%= auto_text_field "website", "name" %></p></br>

<p>
<label for="website_created_at">Created at</label>
<%= auto_text_field "website", "created_at" %></p></br>

<p>
<label for="website_updated_at">Updated at</label>
<%= auto_text_field "website", "updated_at" %></p></br>

