<html>

<font face='Verdana'>
<p>
Please <a href="<%=@http_server_address%>/<%=@account.salt%>">click here</a> to reset your password.</p>
<p>
If you still have issues resetting your password, please contact 
the <a href="mailto: admin@ruby4kids.com">admin@ruby4kids.com</a>.</p>
<p>
Thanks.
</p>
</font>

</html>