/***** Standard tag based styles ****/
body {
	font-family: Arial;
	font-size: 90%;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: .5em 0;
	padding: 0;
	line-height: 1.2em;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;	
}

h3 {
	font-size: 16px;	
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 13px;	
}

h6 {
	font-size: 11px;	
}

p {
	margin: 0.5em .2em 0 .2em;
	padding: 0;

}

img {
	border: 0;
}

a {
	color: #000;
}

a:visited {
	color: #666;
}

a:hover {
	color: #fff;
	background-color:#3d80df;
}

hr {
	height: 1px;
	background-color: #ccc;
	border: 0px;
}

/**** Class Based Tags ****/

.clear {
  clear: both;
}

.even {
	background-color: #ADD8E6;
}
.odd {
	background-color: #F0F8FF	;
}

.app_background_color {
	background-color: #FADADD;
}

.sys_background_color {
	background-color: #99FF99;
}

.app_font {
	font-weight: normal;
	font-size: 0.85em;
}

.diffmod{
	background-color: #FF9900;
}

.diffins{
	background-color: #66FFCC;
}

.nowrap {
  white-space: nowrap;
}


/**** STYLES FOR DROP DOWN AJAX LIST ****/
div.auto_complete {
	width: 350px;
	background: #fff;
}

div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}

div.auto_complete ul li {
	margin:0;
	padding:3px;
}

div.auto_complete ul li.selected { 
	background-color: #ffb; 
}

div.auto_complete ul strong.highlight { 
	color: #800; 
	margin:0;
	padding:0;
}

/**** major portal section styling ****/
#banner{
	background-repeat: no-repeat;
	background-position: 1px 1px;
	height: 21px;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#banner_title {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	font-size: 25px;	
	font-weight: bold;	
	color: #116;
	white-space: nowrap;
	display: inline;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 180px;
	padding-right: 50px;
	height: 36px;
	line-height: 1.2em;
}

#main {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	background: white;
	clear: both;
}

#notification {
	position: fixed;
	bottom: 0;
	padding: 0;
	height: 20px;
	margin: 0;
	width: 100%;
	background-color: #FFFF99;
	display: block;
	text-align: center;
	font-size: 1.1em;
	padding-top: 5px;
}

input[type="text"], textarea, input[type="password"] {
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}

input:focus, textarea:focus {
	/*background: #99CCFF;*/
}

/*** EDIT FORM DIV - FORMS THAT USE FIELDSET ***/
div.fieldset {
	line-height: 1.5em;
}

.fieldset fieldset {
	margin: 1em 0; /* space out the fieldsets a little*/
	padding: 1.2em;
	border : 1px solid #585858;
	background-color: #F0F8FF;

}

textarea {
	font-family: Courier;
	font-size: 14px;
}

div .login {
	margin: 1em 0; /* space out the fieldsets a little*/
	padding: 1.3em;
	border : 1px solid #585858;
	background-color: #ADD8E6;
	width: 350px;
	font-family: Arial;
	font-size: 1.2em;
}

.fieldset legend {
	font-weight: bold;
}

.fieldset label {
	float: left;
	width: 10em;
	font-weight: bold;
}

.fieldset select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.fieldset input.radio, .fieldset input.checkbox, .fieldset input.submit {
	width: auto;
}

.fieldset input.radio {
	float: left;
	margin-right: 1em;
}

/* style for required labels */
.fieldset label .required {
	color:#760000;
}

/* style error messages */
.fieldset label .feedback {
	position: absolute;
	margin-left: 11em;
	left: 200px;
	right: 0;
	font-weight: bold;
	color:#760000;
	padding-left: 18px;
	background: url(../images/error.png) no-repeat left top;
}

/**** TABLE LISTINGS ****/
.listing table {
	border-collapse: collapse;
	border: 1px solid #666;
}



.listing-large table {
	font-size: 1.4em;
}

.listing caption {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.5em 0;
	text-align: left;
}

.listing col {
	border-right: 1px solid #ccc;
}

.listing thead {
	background: #C0C0C0;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	padding: 15px 1px 1px 1px;
	text-align: left;
	font-size: 0.9em;
}

.listing tbody {
	text-align: left;
	
}

.listing tfoot {
	background: #ccc;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	font-weight: bold;
	text-align: right;  
}

.listing th {
	font-weight: bold;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #666;
}

.listing td {
	vertical-align: top;
	border: 1px solid #666;
	
}

.listing th, .listing td {
	padding: 0.3em 1em;
	
}

.listing td.level0 {
	padding-left: 0px;
}

.listing td.level1 {
	padding-left: 20px;
}

.listing td.level2 {
	padding-left: 40px;
}

.listing td.level3 {
	padding-left: 60px;
}

.listing td.level4 {
	padding-left: 80px;
}

.listing td.level5 {
	padding-left: 100px;
}

.listing_hide tr:hover {
	background-color:#3d80df;
	color: #fff;
}

.listing_hide thead tr:hover {
	background-color: transparent;
	color: inherit;
}

/**** FONTS ****/
.header {
	font-size: 1.3em;
	font-weight: bold;
}

.label {
	font-weight: bold;
}

/**** notice ****/
#notice {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font-weight: bold;
	width: 40em;
}

/**** The error box ****/
.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 1.1em;
	list-style: square;
	padding: 3px;
}

/**** CONTROL EDIT TABLE -- COMPLEX ****/
#edit_table {
	background-color: #F5F5F5;
	border: 1px solid #666;
	border-collapse: collapse;
}

#edit_table caption {
	font-weight: bold;
	margin: 0.5em 0;
	text-align: left;  
}

#edit_table a { 
	text-decoration: none;	
}

#edit_table td {
	font-weight: normal;
	vertical-align: top;
}

#edit_table th {
	font-weight: bold;
	vertical-align: top;
	text-align:left;
}

#edit_table select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}

div#footer {
/*  font-size: 1.2em;*/
	margin: 1em 0;
}

/**** NAV MENU ****/
#nav {
	width: 1000px;
/*	background: #eee;*/
	float: left;
	height: 21px;
/*	padding-left: 21px;*/
	vertical-align: middle;

}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

#nav a, #nav h2 {
	font-family: Arial;
	font-size: 0.9em;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;
	padding: 2px 3px;
	min-width: 10em;
}

#nav h2 {
	color: #000;
	font-weight: bold;
	background: #A8A8A8;
	padding: 3px 15px 3px 5px;
}

#nav a {
	color: #000;
	background: #D0D0D0;
	text-decoration: none;
}

#nav a:hover {
	color: white;
	background: #3d80df;
}

#nav li {
	position: relative;
}

#nav ul ul {
	position: absolute;
	z-index: 500;
	display: none;
}

#nav ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}

#nav ul ul, #nav ul li:hover ul ul, #nav ul ul li:hover ul ul {
	display: none;
}

#nav ul li:hover ul, #nav ul ul li:hover ul, #nav ul ul ul li:hover ul {
	display: block;
}
