
<%= error_messages_for :attachment %>

<div class="fieldset">
<fieldset>
	<% form_for(:attachment, :url => {:controller => :attachments, :action=> :create}, 
	                      :html => { :multipart => true }) do |f| -%>
	  <p>
	    <label>Upload A File:</label>
	    <%= f.file_field :uploaded_data %>
	  </p>
	  <p>
	    <%= submit_tag 'Create' %>
	  </p>
	<% end -%>
	</fieldset>
</div>
