<div class="main">
  <h2>Edit <%= @role.name %></h2>
  <%= error_messages_for 'role' %>
  
  <% form_tag(:action => 'update', :id => @role.id) do %>
    <table>
      <%= render :partial => 'form' %>
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag 'Save' %>
            <%= button_to_function "Cancel", "location.href = '/utility/role/index'"%>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>
