<div id=login class="fieldset">
	
	<% form_tag :action => "forgot_password" do%>
  <fieldset>
    <legend>Forgot password, please supply the following:</legend>

    
      <p>
        <label for="name">Email:</label>
        <%= text_field_tag :email, params[:email] %>
      </p>
	
    </fieldset>


<%= submit_tag "Submit" %>

<% end %>

</div>