<p>
<label for="page_layout_name">Name</label>
<%= auto_text_field "page_layout", "name" %></p></br>

<p>
<label for="page_layout_content">Content</label>
<%= auto_text_field "page_layout", "content" %></p></br>

<p>
<label for="page_layout_created_at">Created at</label>
<%= auto_text_field "page_layout", "created_at" %></p></br>

<p>
<label for="page_layout_updated_at">Updated at</label>
<%= auto_text_field "page_layout", "updated_at" %></p></br>

