<p>
<label for="web_page_name">Name</label>
<%= auto_text_field "web_page", "name" %></p></br>

<p>
<label for="web_page_content">Content</label>
<%= auto_text_field "web_page", "content" %></p></br>

<p>
<label for="web_page_created_at">Created at</label>
<%= auto_text_field "web_page", "created_at" %></p></br>

<p>
<label for="web_page_updated_at">Updated at</label>
<%= auto_text_field "web_page", "updated_at" %></p></br>

