<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= get_title %></title>
 <%= stylesheet_link_tag("calendar-blue") %>
<%= stylesheet_link_tag("SyntaxHighlighter") %>
 <%= javascript_include_tag("calendar") %>
 <%= javascript_include_tag("lang/calendar-en") %>
 <%= javascript_include_tag("SyntaxHighlighter/shCore.js") %>
<%= javascript_include_tag("SyntaxHighlighter/shBrushRuby.js") %>
<%= javascript_include_tag("SyntaxHighlighter/shBrushXml.js") %>
<%= javascript_include_tag("SyntaxHighlighter/shBrushSql.js") %>
 <%= javascript_include_tag("calendar-setup") %>
<%= stylesheet_link_tag "web_shell", :media => "all" %>
 <%= stylesheet_link_tag "application", :media => "all" %>
 <%= javascript_include_tag :defaults %>

</head>
<body id="admin">

	  <div id="banner">
		<div id="nav">
	  	<%= get_toc %>
	  </div>	

	</div>


  <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <%= yield :layout %>
  </div>



  <div id="notification" style="display: none;">
    <%= image_tag "ajax_indicator.gif", :width => 16, :height => 16, :align => "middle", :alt => "indicator" %>&nbsp;Working...
  </div>
</div>

</body>
</html>
