<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Log in</title>
  <%= stylesheet_link_tag "web_shell", :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="app">

<p>&nbsp;</p>
	<div class="fieldset">
<blockquote>
	

		<% if flash[:notice] -%>
	      <div id="notice"><%= flash[:notice] %></div>
	    <% end -%>

	     <%= yield :layout %>


</blockquote>
	</div>
</body>
</html>